<form class="form">
  <div>
    <h2>{{'New Password' | translate}}</h2>
    <form #passwordForm = "ngForm" (ngSubmit)="onSubmit(passwordForm.value)" >
      <div ngModelGroup="User">
        <div class="form-group">
          <md-input-container  class="full-width" >
            <textarea mdInput  ngModel
              placeholder="{{'update_user.current_password' | translate}}"
              name="current_password" id="current_password" >
            </textarea>
          </md-input-container >
        </div>
        <div class="form-group">
          <md-input-container  class="full-width" >
            <textarea mdInput  ngModel
              placeholder="{{'update_user.password' | translate}}"
              name="password" id="password" >
            </textarea>
          </md-input-container >
        </div>
        <div class="form-group">
          <md-input-container  class="full-width" >
            <textarea mdInput  ngModel
              placeholder="{{'update_user.password_cofirmation' | translate}}"
              name="password_confirmation" id="password_confirmation" >
            </textarea>
          </md-input-container >
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" >
            {{'update_user.submit' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</form>
