<md-toolbar class="category">
  <span class="text-bar">{{'home.new_story' | translate}}</span>
</md-toolbar>
<div class="cards">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
      <div class="col-md-3 col-xs-offset-1 card-new-story" *ngFor="let story of storyList">
        <md-card class="example-card" (click)="onClickStory(story.id)">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>{{story.name}}</md-card-title>
            <md-card-subtitle>{{story.name_user}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image class="md-unstyled-image" src="{{story.imageUrl}}">
          <md-card-content>
            <p class="box">
              {{story.description}}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>
