<div class="user-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <md-card>
          <div class="card card-user">
            <div class="profile-block">
              <div class="panel text-center">
                <div class="user-heading">
                  <a class="img-user">
                    <img src="../img/no-avatar.png" alt="" title="">
                  </a>
                </div>
              </div>
            </div>
            <div class="content text-center">
              <div class="author">
                <h4 class="title">{{user_name}}<br />
                  <a href="#"><small>{{user_email}}</small></a>
                </h4>
              </div>
              <p class="description text-center">
                {{'user.des1' | translate}} <br>
                {{'user.des2' | translate}} <br>
                {{'user.des3' | translate}} <br>
              </p>
              <div *ngIf="checkPageCurrentUser(), else follow">
                <button md-icon-button [mdMenuTriggerFor]="menu">
                  <div class="pull-right" mdTooltip="Edit your profile">
                    <button md-mini-fab>
                      <i class="material-icons">edit</i>
                    </button>
                  </div>
                </button>
                <md-menu #menu="mdMenu">
                  <app-updateuser></app-updateuser>
                </md-menu>
              </div>
              <ng-template #follow>
                <div class="col-md-6 col-md-offset-3">
                  <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
              </ng-template>
            </div>
            <hr>
            <div class="text-center">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h5><br /><small>{{'user.followed' | translate}}</small></h5>
                </div>
                <div class="col-md-4">
                  <h5><br /><small>{{'user.post' | translate}}</small></h5>
                </div>
                <div class="col-md-3">
                  <h5><br /><small>{{'user.voted' | translate}}</small></h5>
                </div>
              </div>
            </div>
          </div>
        </md-card>
        <md-card class="follow-card">
          <div class="card">
            <div class="header">
              <h4 class="title">{{'user.following' | translate}}</h4>
            </div>
            <div class="content">
              <ul class="list-unstyled team-members">
              </ul>
            </div>
          </div>
        </md-card>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="card">
          <div class="head-all">
            <div class="header text-center">
              <h3 class="title">{{'user.all_stories' | translate}}</h3>
            </div>
            <hr>
          </div>
          <div class="content">
            <div class="col-lg-6" *ngFor="let story of stories">
              <div class="card-story">
                <md-tab-group>
                  <md-tab label="{{'user.story' | translate}}">
                    <div *ngIf="story.piture === ''; else noPicture">
                      <img class="img-story" src="story.picture">
                    </div>
                    <ng-template #noPicture>
                      <img class="img-story" src="../plan_no_bg.jpg">
                    </ng-template>
                    <div class="text-center">
                      <h5>{{story.name}}</h5>
                      <div class="example-scrolling-content cap caption">
                        {{story.description}}
                      </div>
                    </div>
                  </md-tab>
                  <md-tab label="{{'user.steps' | translate}}">
                    <md-list class="step" *ngFor="let step of story.steps">
                      <md-list-item>{{step.name}}</md-list-item>
                    </md-list>
                  </md-tab>
                </md-tab-group>
                <hr>
                <div class="bar-story">
                  <div class="text-center">
                    <div class="row">
                      <div class="col-md-3 col-md-offset-1">
                        <h5><br /><small>{{'user.voted' | translate}}</small></h5>
                      </div>
                      <div class="col-md-4">
                        <h5><br /><small>{{'user.comment' | translate}}</small></h5>
                      </div>
                      <div class="col-md-3" (click)="onClickMore(story.id)">
                        <br /><button md-button><h5><small>{{'user.more' | translate}}</small></h5></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
