$whitec: #FFF;
$greyc: #eee;
$gray: rgba(255, 255, 255, 0.3);
$red: #c5251e;

h1.logo {
  padding-top: 30px;
  text-align: center;
  font-size: 400%;
  margin: 0 0 20px 0;
  color: $whitec;
}

.media {
  margin: 20px 0;
  padding: 30px;
}

.dp {
  border: 10px solid $greyc;
  transition: all 0.2s ease-in-out;
}

.dp:hover {
  border: 2px solid $greyc;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.text {
  text-indent: 1em;
}

.line {
  margin: 8px auto
}

.image {
  width: 200px;
  height: 200px;
}
.cover-img {
  padding-left: 70px;
  padding-top: 100px;
}

.text_padding {
  padding-top: 160px;
  color: $whitec;
}

.user-page {
  padding-top: 65px;
}

.follow-card {
  margin-top: 20px;
}

.profile-block {
  position:relative;
  overflow:hidden;
}

.profile-block .user-heading {
  background: $red none repeat scroll 0 0;
  border-radius: 4px 4px 0 0;
  color: $whitec;
  text-align: center;
}

.profile-block .user-heading a img {
  border-radius: 50%;
  margin:auto auto 10px;
  display: block;
  height: 140px;
  width: 140px;
  border: 10px solid $gray;
}

.img-user {
  padding: 70px;
}

.pull-right {
  float: right;
}

.fix-info {
  position: fixed;
}

.head-all{
  margin-bottom: 30px;
}

.card-story {
  background-color: $whitec;
  height: 440px;
  margin-bottom: 70px;
  position: relative;
}

.img-story {
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: 200px;
}

.step {
  margin-left: 10px;
}

.hr-story {
  padding-left: 70px;
  padding-right: 70px;
}

.example-scrolling-content {
  overflow: auto;
}

.caption {
 height: 80px;
}

.cap {
  overflow: hidden;
  max-width: 70ch;
  max-height: 80px;
}

.card-story {
  .bar-story {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
