<div class= "top-head">
  <div class="row">
    <div class="col-lg-10">
      <div class="media">
        <a class="pull-left cover-img">
          <img class="media-object dp img-circle image"
            src="">
        </a>
        <div class="media-body">
          <h2 class="media-heading text text_padding">{{user_name}}</h2>
          <h2 class="media-heading text">
            <small>{{user_email}}</small>
          </h2>
        </div>
      </div>
    </div>
    <div class="edit">
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <div class="pull-right" mdTooltip="Edit your profile">
        <button md-mini-fab>
          <i class="material-icons">edit</i>
        </button>
      </div>
    </button>
    <md-menu #menu="mdMenu">
      <app-updateuser></app-updateuser>
    </md-menu>
    </div>
  </div>
</div>
