$base-font-color: #000;
$border-color: #e5e5e5;

.story-thumbnail {
  border: 1px solid $border-color;
  margin-bottom: 20px;
}

.story-featured-image {
  background-size: cover;
  height: 258px;
}

.story-brief-details {
  height: 258px;
  padding: 20px;
}

.story-thumbnail-name {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.story-thumbnail-description {
  color: lighten($base-font-color, 50%);
  font-family: 'Open Sans';
  font-weight: 400;
}

.story-thumbnail-user-avatar {
  border-radius: 50%;
  width: 100%;
}

.story-thumbnail-meta-data {
  margin-top: 30px;
}

.story-thumbnail-story-created-at,
.story-thumbnail-votes {
  color: lighten($base-font-color, 50%);
  display: inline;
}
