<div class="step-list">
  <div *ngFor="let step of steps; let i = index" class="item">
    <div class="image">
      <div class="step-border">
        <a>
          <img src="../../../assets/picture/success-icon.png" *ngIf="rate(i)>84" />
          <img src="../../../assets/picture/unsuccess-icon.png" *ngIf="rate(i)<85" />
        </a>
      <span>
        <p class="text-center">{{step.created_at | date: 'shortDate'}}</p>
        <p>{{rate(i)}}%</p>
      </span>
      </div>
    </div>
    <div class="details">
      <div>
        <h1 (click)="openSubStepDialog(step)">{{step.name}}</h1>
        <h4>{{step.content}}</h4>
      </div>
    </div>
  </div>
</div>
