<div class="container">
  <div class="story-header"
    [ngStyle]="{ 'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),   url(' + story.picture + ')'}">
    <h1>{{story.name}}</h1>
    <div class="col-md-3"></div>
    <img [src]="image_url + story.picture" class="col-md-6">
    <h4>{{story.description}}</h4>
    <h4>{{story.total_vote}} {{'step.votes' | translate}}</h4>
  </div>
  <app-step-list [steps]="story.steps" [story_id]="story.id"></app-step-list>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <md-toolbar color="primary">
        <button md-button class="col-md-2" id="heart" (click)="onVote()">
          <i class="material-icons">favorite</i> {{'like' | translate}}
        </button>
        <button md-button class="col-md-3" (click)="onComment()">
          <i class="material-icons">comment</i> {{'comment' | translate}}
        </button>
        <div class="col-md-4"></div>
        <a md-button class="col-md-3">
          {{'voted' | translate}} {{story.total_vote}}
        </a>
      </md-toolbar>
      <app-comment [comments]="story.comments" [story_id]="story.id"
        [commentable_type]="story"></app-comment>
    </div>
  </div>
</div>
