<div class="container content-wrap">
  <h1 class="text-center story-header">
    {{story.name}}
  </h1>

  <button md-icon-button [mdMenuTriggerFor]="menu" class="story-menu"
    *ngIf="story.user_id === current_user.id">
    <i class="material-icons">reorder</i>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="edit()">
      <md-icon>Edit this Post</md-icon>
    </button>

    <button md-menu-item (click)="delete()">
      <md-icon>Delete this Post</md-icon>
    </button>
  </md-menu>

  <div class="meta-data text-center">
   <p>
     {{story.created_at | date}} by {{story.user_name}},
     {{story.comments.length | i18nPlural: commentMapping}},
     {{story.total_vote | i18nPlural: voteMapping}}
   </p>
  </div>

  <div class="story-featured-image text-center">
    <img src="{{image_url}}{{story.picture}}" *ngIf="checkImageExist()">
    <img src="../../../assets/picture/default_story.jpg" *ngIf="!checkImageExist()">
  </div>

  <div class="story-content">
    <p class="story-description">{{story.description}}</p>
  </div>

  <div class="step-list-wrap">
    <app-step-list [steps]="story.steps" [story_id]="story.id" [user_id]="story.user_id">
    </app-step-list>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <md-toolbar class="border">
        <button md-button class="col-md-2 font" id="heart" (click)="onVote()">
          <i class="material-icons">favorite</i> {{'like' | translate}}
        </button>
        <button md-button class="col-md-3 font" (click)="onComment()">
          <i class="material-icons">comment</i> {{'comment' | translate}}
        </button>
        <button md-button class="col-md-3 font" (click)="onCloneButtom(story.id)">
          <i class="material-icons">library_add</i> {{'clone' | translate}}
        </button>
        <div class="col-md-3"></div>
        <a md-button class="col-md-4 font">
          {{story.total_vote}} {{'step.votes' | translate}}
        </a>
      </md-toolbar>
      <app-comment [comments]="story.comments" [story_id]="story.id" [user_of_story]="story.user_id"
        [commentable_id]="story.id" [commentable_type]="'story'"></app-comment>
    </div>
  </div>
</div>
