@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
$light-green: #2ecc71;
$light: #d9e5e8;
$light-blue: #6b97a4;
$dark-blue: #4a6e78;
$primary: #3f51b5;
$clouds: #ecf0f1;
$heart: #e74c3c;
$gray: #f5f5f5;
$black: #212121;
$sub-step-name-color: #333;
$sub-step-content-color: #2c2f34;

.custom-header {
  color: $light-green;
  font-weight: bold;
  font-size: 3em;
}

.accordion {
  max-width: 560px;
  margin: 0 auto 20px;
  border-top: 1px solid $light;
  list-style-type: none;

  li {
    border-bottom: 1px solid $light;
    list-style-type: none;

    p {
      padding: 10px 25px 30px;
      color: $sub-step-content-color;
    }

    a {
      color: $sub-step-name-color;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 14px;
    font-size: 2em;
    text-indent: 15px;
    user-select: none;
    text-decoration: none;
  }

  p {
    font-size: 13px;
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px;
  }
}


a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.voted-contain {
  background-color: $gray;

  a {
    margin-left: 20px;
    color: $black;
  }
}

.voted {
  color: $heart;
}

.content {
  padding-left: 0;
  overflow-y: scroll;
  position: relative;
}

.comment {
  padding-left: 0;
  overflow-y: scroll;
}

.font {
  font-family: 'Open Sans', Serif;
  font-weight: bold;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $black;
}

.body {
  overflow: hidden;
}

.tracking-list {
  position: fixed;
  left: 59%;
  top: 12%;
  z-index: 999;
}

.sub-step-element {
  border-bottom: 1px solid $light;
}
