<div class="container-signup">
  <h2>{{'start' | translate}}</h2>
  <form #signupForm = "ngForm" (ngSubmit)="onSubmit(signupForm.value)" >
    <div ngModelGroup="user">
      <md-input-container class="full">
        <input mdInput placeholder="{{'username' | translate}}"
          type="text" name="name" id="name" ngModel/>
      </md-input-container>
      <md-input-container class="full">
        <input mdInput placeholder="{{'email' | translate}}" type="text"
          name="email" id="email" ngModel/>
      </md-input-container>
      <md-input-container class="full">
        <input mdInput placeholder="{{'password' | translate}}"
          type="password" name="password" id="password" ngModel/>
      </md-input-container>
      <md-input-container class="full">
        <input mdInput placeholder="{{'password_confirmation' | translate}}"
          type="password" name="password-confirmation" id="password-confirmation" ngModel/>
      </md-input-container>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" >{{'signup' | translate}}</button>
      </div>
    </div>
  </form>
</div>
