<form class="form">
  <div>
    <h2>{{'New Name' | translate}}</h2>
    <form #nameForm = "ngForm" (ngSubmit)="onSubmit(nameForm.value)" >
      <div ngModelGroup="user">
        <div class="form-group">
          <md-input-container  class="full-width" >
            <textarea mdInput  ngModel
              placeholder="{{'update_user.name' | translate}}"
              name="name" id="name" >
            </textarea>
          </md-input-container >
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" >
            {{'update_user.submit' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</form>
