<div class="row">
  <div *ngFor="let comment of comments">
    <div class="col-sm-12">
      <div class="panel panel-white panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg"
              class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>{{comment.user_name}}</b></a>
            </div>
            <h6 class="text-muted time">{{comment.created_at | date}}</h6>
          </div>
        </div>
        <div class="post-description">
          <div class="col-md-2"></div>
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="{{'writecomment' | translate}}"
        required autocomplete="off" id="cmt_target" formControlName="content" />
    </div>
  </form>
</div>
