<div class="row">
  <div *ngFor="let comment of comments; let i=index">
    <div class="col-sm-12">
      <div class="panel-shadow">
        <div class="post-heading">
          <div class="row">
            <div class="col-md-1 image">
              <img src="http://bootdey.com/img/Content/user_1.jpg"
                class="img-circle avatar" alt="user profile image">
            </div>
            <div class="col-md-8 comment-body">
              <a class="user-name" href="#" id="user_{{i}}">
                <b>{{comment.user_name}}</b>
              </a>: <p id="cmt_{{i}}" class="cmt-content">{{comment.content}}</p>
              <input type="text" id="cmt_input_{{i}}" class="cmt-input form-control" required
                autocomplete="off" (keyup)="checkEsc($event, i, comment.id)">
              <h6 class="text-muted time">{{comment.created_at | date}}</h6>
              <h6>
                <a (click)="resend(i)" class="btn-resend" id="resend_{{i}}">
                  {{'re_send' | translate}}
                </a>
              </h6>
            </div>
            <div class="col-md-1 dropdown" *ngIf="canDropdown(comment.user_id)">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                (click)="$event.preventDefault()">
                <i class="material-icons">more_horiz</i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" id="menu">
                <li *ngIf="canEdit(comment.user_id)">
                  <a href="#" (click)="edit($event, i)">
                    <i class="material-icons">edit</i>{{"single_story.edit" | translate}}
                  </a>
                </li>
                <li *ngIf="canDelete(comment.user_id)">
                  <a href="#" (click)="delete($event, comment.id)">
                    <i class="material-icons">delete</i>{{"single_story.delete" | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="{{'writecomment' | translate}}"
        required autocomplete="off" id="cmt_target" formControlName="content" />
    </div>
  </form>
</div>
