<div class="row">
  <div *ngFor="let comment of comments; let i=index">
    <div class="col-sm-12">
      <div class="panel-shadow">
        <div class="post-heading">
          <div class="row">
            <div class="col-md-1 image">
              <img src="http://bootdey.com/img/Content/user_1.jpg"
                class="img-circle avatar" alt="user profile image">
            </div>
            <div class="col-md-9 comment-body">
              <a class="user-name" href="#" id="user_{{i}}">
                <b>{{comment.user_name}}</b>
              </a>: <p id="cmt_{{i}}">{{comment.content}}</p>
              <h6 class="text-muted time">{{comment.created_at | date}}</h6>
              <h6>
                <a (click)="resend(i)" class="btn-resend" id="resend_{{i}}">
                  {{'re_send' | translate}}
                </a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="{{'writecomment' | translate}}"
        required autocomplete="off" id="cmt_target" formControlName="content" />
    </div>
  </form>
</div>
