<md-card class="phuong-custom-card">
  <div class="row">
    <div class="col-md-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate, dolorem ea ex expedita fugit impedit ipsum minima nam neque pariatur, perspiciatis porro quod repudiandae soluta unde ut vel velit.</div>
    <div class="col-md-5 alert alert-success">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur dolorum ipsam iusto perferendis porro quae rerum similique. Aspernatur corporis cumque facilis labore perferendis placeat soluta unde? Aut, fugiat minima.
    </div>
  </div>
  <h1>{{story.name}}</h1>
</md-card>
