<form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
  <div ngModelGroup="sign_in">
    <li>
      <md-input-container >
        <input mdInput type="text" placeholder="Email" name="email" id="email" ngModel/>
      </md-input-container>
      <md-input-container >
        <input mdInput type="password" placeholder="Password" name="password" id="password" ngModel/>
      </md-input-container>
    <button md-button type="submit" class="btn btn-primary login-btn">{{'login' | translate}}</button></li>
  </div>
</form>
