<div>
  <h2>{{'login' | translate}}</h2>
  <form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
    <div ngModelGroup="sign_in">
      <div class="form-group">
        <label for="email">{{'email' | translate}}</label>
        <input type="text" name="email" id="email" class="form-control" ngModel/>
      </div>
      <div class="form-group">
        <label for="password">{{'password' | translate}}</label>
        <input type="password" name="password" id="password" class="form-control" ngModel/>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{'login' | translate}}</button>
        <div class="pull-right" mdTooltip="{{'not-have-account' | translate}}">
        <a md-button class="signup" (click)="openDialogSignUp()" md-dialog-close>{{'signup' | translate}}</a>
        </div>
      </div>
    </div>
  </form>
</div>
