@import 'bootstrap-sprockets';
@import 'bootstrap';

@font-face {
  font-family: 'Dancing Script';
  src: url('/assets/DancingScript-Bold.ttf') format('truetype');
}

$base-font: 'Dancing Script';
$base-font-size: 14px;

$link-color: #3498db;
$hover-color: darken($link-color, 30%);

.navbar-primary .navbar-nav {
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    float: none;
  }

  a {
    font-family: $base-font;
    font-size: 1.5 * $base-font-size;
    padding: 0 30px;
    transition: all ease .25s;

    &:hover {
      background-color: transparent;
      color: $hover-color;
    }
  }

  .main-logo {
    font-family: $base-font;
    font-size: 4 * $base-font-size;
    font-weight: 600;
    line-height: normal;
  }
}
