<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Stories</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">{{'homelink' | translate}}</a></li>

      <li class="dropdown" *ngIf="current_user; else loginTemplate">
        <a data-toggle="dropdown"
          class="dropdown-toggle" href="#">{{current_user.name}}</a>
        <ul class="dropdown-menu">
          <li><a href="#" (click)="$event.preventDefault();
            onClick()">{{'logout' | translate}}</a></li>
        </ul>
      </li>
        <li><a routerLink="/story" *ngIf="current_user">{{'createstory' | translate}}</a></li>

      <ng-template #loginTemplate>
        <li><a routerLink="/login">{{'login' | translate}}</a></li>
        <li><a routerLink="/signup">{{'signup' | translate}}</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
