<nav class="navbar custom-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Stories</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/" md-button class="phuong-home"><i class="material-icons">home</i></a></li>

      <li class="dropdown" *ngIf="current_user; else loginTemplate">
        <a  md-button data-toggle="dropdown" class="dropdown-toggle" href="#">{{current_user.name}}</a>
        <ul class="dropdown-menu">
          <li><a md-button (click)="openDialogInfoUser()">{{'Profile' | translate}}</a></li>
          <li><a md-button (click)="$event.preventDefault();
            onClick()">{{'logout' | translate}}</a></li>
        </ul>
      </li>
      <li><a md-button routerLink="story/create" *ngIf="current_user">{{'createstory' | translate}}</a></li>
      <li><a routerLink="story" md-button *ngIf="current_user">All Stories</a></li>

      <ng-template #loginTemplate>
        <li><a md-button (click)="openDialogLogIn()">{{'login' | translate}}</a></li>
        <li><a md-button (click)="openDialogSignUp()">{{'signup' | translate}}</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
