$many_votes: #2ecc71;
$card-text-color: #2c3e50;
$dim-color: #D7D7D7;
$gray: #919191;

.container {
  max-width: 900px;
  min-width: 324px;
  margin: 50px auto 50px;
}

.image-cover {
  height: 100%;
  width: 100%;
}

.row {
  margin-bottom: 2%;
}

.meta-post {
  height: 25px;
  .content {
    float: left;
    display: inline-block;
    margin-right: 10px;
  }
  .material-icons {
    font-size: 1.2em;
    float: left;
  }
}

.title {
  margin: 0 auto 0;
}

.fa-user {
  margin-top: 2px;
}

.content {
  color: $gray;
}
