<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <a [routerLink]="['/story', story.id]">
          <img [src]="story.picture.url" class="image-cover" *ngIf="checkImageExist()">
          <img src="../../assets/picture/default_story.jpg"
            class="image-cover" *ngIf="!checkImageExist()">
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="title" [routerLink]="['/story', story.id]">{{story.name}}</h3>
        <h5 class="fa-user">
          <a class="meta-post"><i class="material-icons">person_outline</i>
            <p class="content">Doan Minh Phuc</p>
          </a>
          <a class="meta-post"><i class="material-icons">event_note</i>
            <p class="content">{{story.created_at | date}}</p>
          </a>
        </h5>
        <br>
        <div class="content">{{story.description}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<hr>
